@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,300;0,700;1,700&display=swap');
@import url(components/container.css);
@import url(components/avatar.css);
@import url(components/button.css);
@import url(components/banner.css);
@import url(components/card.css);
@import url(components/socials.css);

body{
	font-family: 'Playfair Display', serif;
	font-style: 18px;
	margin: 0px;
}

h1,h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
}

h4{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
	font-size: 25px;

}

h5{
	font-size: 200px;

}

h6{
	font-size: 200px;

}