.card{
	width: 700px;
	padding: 20px;
	display: flex;
	align-items: center;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
	border-radius: 6px;
	margin: 20px auto;
	flex-direction: column;
}
.card img{
	width: 700px;
	flex-grow: 1;
	font-size: 24px;
	border-radius: 10px;
}